/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Abel', sans-serif;
    font-size: .75rem;
    background-color: #F0F0F0;
}

h1, h3 {
    font-family: 'Anton', sans-serif;
    text-align: center;
}

.row {
    margin: 0;
}

/* ----------------- header ----------------- */
header nav .logo-image{
    background-color: white;
    height: 55px;
    margin: 40px 0 25px 0;
}
header nav img {
    width: 105px;
    margin: -25px auto;
    z-index: 1;
}

header nav .logo {
    font-size: 28px;
}

a {
    color: black;
}

/* ----------------- section 1 ----------------- */
h1 {
    font-size: 48px;
}

h4 {
    font-size: .75rem;
    font-weight: bold;
    margin: 0;
}

.container .circle {
    width: 105px;
    height: 105px;
    color: white;
    border: 5px solid white;
}

.design {
    background-color: #e6563b;
}

.develop {
    background-color: #eb9d3a;
}

.support {
    background-color: #7cb06c;
}

.host {
    background-color: #00aba9;
}

hr {
    display: none;
}

/* ----------------- main ----------------- */

.card {
    background-color: #f0f0f0;
}
.card-img-top {
    border: 5px solid #e6e6e6;
}
.card-body {
    padding: 0 0 1.25rem 0;
}

.letter {
    width: 18px;
    height: 18px;
    border-radius: 9px;
}
h5 {
    font-size: .7rem;
    font-weight: bold;
    margin: 0;
}



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}